:root {
  --light: #f9f9f9;
  --extralight: white;
  --blue: #2196f3;
  --light-blue: #cff8ff;
  --grey: #eee;
  /* --dark-grey: #aaaaaa; */
  --dark-grey: #a7a7a7;
  --dark: #342e37;
  --red: #DB504A;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  background-color: var(--grey);
  transition: .3s ease;
}

.content,
#dashboard,
#master,
#diploma,
#doctorate {
  background-color: var(--extralight);
  color: var(--dark);
}

body.dark,
#dashboard.dark,
#master.dark,
#diploma.dark,
#doctorate.dark {
  --light: #342e37;
  --extralight: rgb(31, 31, 31);
  --light-blue: #313b3d;
  --grey: #808080;
  /* --dark-grey: #aaaaaa; */
  --dark-grey: #eee;
  --dark: #f9f9f9;
}

/* full side bar */
.contain {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--light);
  transition: .5s ease;
  z-index: 100;
}

.sidebar.narrow {
  width: 88px;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-grey);
  transform: .4s ease;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.narrow .text {
  opacity: 0;
  display: none;
}

.sidebar .image-text img {
  width: 50px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name1 {
  font-weight: 600;
}

.header-text .name2 {
  margin-top: -6px;
}

.sidebar header {
  position: relative;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  background-color: #2196f3;
  justify-content: center;
  border-radius: 50%;
  color: var(--light);
  font-size: 16px;
  transition: .3s ease;
  cursor: pointer;
}

body.dark .sidebar header .toggle {
  color: var(--light);
}

.sidebar.narrow header .toggle {
  transform: translateY(-50%);
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.sidebar li a.active {
  border: none !important;
  border-left: 3px solid var(--blue) !important;
  border-radius: 0;
  transition: .3s ease;
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--light) !important;
}

#optionBtn a.active:hover i,.sidebar li a.active:hover i,
.sidebar li a.active:hover div {
  color: var(--blue);
}

.sidebar li .icon {
  font-size: 20px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--dark);
  transition: .2s ease;
}

.sidebar li a {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: .4s ease;
  width: 210%;
}

#special {
  width: 100%;
}

.sidebar li a:hover {
  background: var(--blue);
}

body.dark .sidebar li a:hover {
  background: var(--grey);
}

#optionBtn:hover i, .sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--light);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--dark);
}

.menu-bar {
  padding-top: 20px;
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  /* background-color: var(--light-blue); */
  border-radius: 6px;
}

.menu-bar .mode .moon-sun {
  height: 50%;
  width: 60%;
  display: flex;
  align-items: center;
  max-width: 60px;
}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

/* body.dark .menu-bar .mode i.moon{
    opacity: 0;
} */
.menu-bar .mode .toggle-switch {
  position: absolute;
  left: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  background-color: var(--grey);
  border-radius: 8px;
}

.toggle-switch .switch {
  position: relative;
  border-radius: 25px;
  height: 22px;
  width: 44px;
  background-color: var(--dark-grey);
}

.switch::before {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--light);
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: .3s ease;
  z-index: 1000;
}

body.dark .switch::before {
  left: 24px;
}

/* full side bar */
/* additional customizations */
.close {
  border: none !important;
}

.logout-text,
.bx-log-in-circle {
  color: var(--red);
}

.logout-list a:hover {
  background-color: var(--red) !important;
  color: var(--light) !important;

}

#dashboard,
#master,
#doctorate,
#diploma {
  transition: .3s ease;
}

/* #master, #doctorate, #diploma{
  display: none;
} */
/* additional customizations */
/* content */
.content {
  position: relative;
  height: 100vh;
  right: 250px;
  width: calc(100% - 250px);
  transition: .5s ease;
}

.sidebar.narrow~.content {
  right: 88px;
  width: calc(100% - 88px);
}

/* content */
/* navbar */
#navbar {
  background-color: var(--light);
  height: 65px;
}

.sticky-top {
  z-index: 5 !important;
}

.profile-pic {
  width: 50px;
  margin: 10px;
}

.following {
  color: var(--dark-grey);
}

.navbar_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 0 0 10px var(--grey);
  height: 50px;
  margin-bottom: 10px;
  background: var(--light);

}

/* navbar */
/* maincontent */
main {
  width: 100%;
  /* height: calc(100% - 65px); */
  padding: 10px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome .pic img {
  width: 200px;
}

.welcome .text span.hi {
  font-size: 50px;
}

/* maincontent */
/* dashboard cards */
.order-card {
  color: var(--light);
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #FF5370, #ff869a);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  outline: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
  height: 145px;
}

.card .card-block h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.order-card i {
  font-size: 26px;
}

/* dashboard cards */

/* ////////////////////////////////////////////// */
.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  /* text-align: left; */
}

thead th {

  top: 0;
  left: 0;
  background-color: var(--grey);
  color: var(--dark);
  cursor: pointer;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--grey);
  color: var(--dark);
}

tbody tr:nth-child(odd) {
  background-color: var(--extralight);
  color: var(--dark);
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: var(--grey) !important;
  color: var(--dark);
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
  text-align: center;
}

.user-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}


.male::before {
  content: url(./images/male.ico);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

#img_holder {
  position: relative;
}

.female::before {
  content: url(./images/female.ico);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

@media (max-width:766px) {
  .welcome .text span {
    text-align: center;
    display: block;
    margin: 10px 0px;
  }

  .sidebar {
    width: 88px;
  }

  .sidebar .text {
    opacity: 0;
    display: none;
  }

  .content {
    right: 88px;
    width: calc(100% - 88px);
  }

  .sidebar header .toggle {
    display: none;
  }

  .welcome .pic {
    display: none;
  }

  .hi {
    text-align: center;
    display: block;
    margin: 10px 0px;
  }

}

thead th span.icon-arrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  /* width: 1.3rem;
      height: 1.3rem; */
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid var(--blue);
}

thead th:hover {
  color: var(--blue);
}

thead th.active span.icon-arrow {
  background-color: var(--blue);
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.card_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 60px;
  background-color: white;
}

.card_el {

  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_el h4 {
  margin: 30px auto;
  width: fit-content;
  position: relative;
}

.card_el h4:after {
  content: "";
  background-color: var(--blue);
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -22px;
  left: 15px;
  border-radius: 6px;
}

.card_el img {
max-width: 100%;
}

.card_el .image_container {
  margin-bottom: 25px;
}


.card_el .link_holder{
  margin-bottom: 60px;
}
.card_el .image_container .link_holder {
  text-align: center;
}

.card_el a {
  background-color: var(--blue);
  color: white;
  padding: 10px 50px;
  border-radius: 40px;
  transition: 0.3s;
}

.card_el a:hover {
  background-color: #194fa1;
}
@media (max-width:767px)
{
  .card_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
    background-color: white;
}

/* galaxy fold phone media */
@media (max-width:300px)
{
  .card_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 60px;
    background-color: white;
  }
  .card_el a {
    background-color: var(--blue);
    color: white;
    padding: 10px 10px;
    border-radius: 40px;
    transition: 0.3s;
}
.card_el h4 {
  margin: 30px auto;
  width: fit-content;
  position: relative;
  text-align: center;
  font-size: 14px;
}
}
/* galaxy fold phone media */

}
/* @media (min-width:767px) and (max-width:992px)
{
  .card_el{
    height: 650px;
  }
} */